body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 8%;
  line-height: 60px;
  color: #fff;
  background: linear-gradient(to right, #20b1f6, rgba(0, 245, 204, 0.66));
}
.title {
  text-align: center;
  margin-left: 10px;
}

#btn_friend {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  transform: scale(1);
  margin: 10px 10px 0 0;
}

.list_friend {
  position: fixed;
  top: 60px;
  right: 0;
  color: #333;
  width: 250px;
  height: calc(100vh - 10vh);
  list-style: none;
  border-radius: 5px;
  background-color: #fff;
  cursor: auto;
  overflow-y: scroll;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.list_friend::-webkit-scrollbar {
  width: 0;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.list_friend li {
  display: flex;
  gap: 10px;
  margin: 10px;
  padding: 8px 16px;
  border-radius: 5px;
  /* align-items: center; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.list_friend li:hover {
  color: #fff;
  cursor: pointer;
  transform: scale(1.02);
  background: linear-gradient(to right, #20b1f6, rgba(0, 245, 204, 0.66));
}

.list_friend img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  background-color: yellow;
}

input {
  height: 40px;
  border-radius: 5px;
  padding: 0 10px;
  border: 1px solid #333;
  outline: none;
}

button {
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #20b1f6, rgba(0, 245, 204, 0.66));
}

button:hover {
  border: 2px solid #20b1f6;
  transform: scale(1.02);
  color: #fff;
  transition: color 0.3s ease, transform 0.2s ease;
}

input:focus {
  border: 2px solid #20b1f6;
  transform: scale(1.02);
}

input:hover {
  border: 2px solid #20b1f6;
  transform: scale(1.02);
  transition: color 0.3s ease, transform 0.2s ease;
}

.container {
  width: 400px;
  height: 92%;
  background-color: #fff;
  margin: 0 auto;
  padding: 10px;
}

.container_join {
  width: 100%;
  height: 12%;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}
.container_send {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px 0;
  border-top: 1px solid #333;
}

.container_send i {
  color: #333;
  padding-top: 10px;
}

.container_send i:hover {
  cursor: pointer;
  color: #20b1f6;
  /* transform: scale(1.5); */
  transition: color 0.3s ease, transform 0.2s ease;
}

#ul_message {
  list-style: none;
  font-size: 16px;
  font-weight: normal;
  height: 68%;
  overflow-y: scroll;
}

#ul_message::-webkit-scrollbar {
  width: 0; /* Độ rộng thanh cuộn */
}

#ul_message li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

#ul_message li:hover .choose_emotion {
  display: block !important;
}

#ul_message li span p {
  width: fit-content;
  background: linear-gradient(to right, #20b1f6, rgba(0, 245, 204, 0.66));
  padding: 8px 16px;
  border-radius: 25px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap; /* Giữ nguyên khoảng trắng nhưng vẫn cho phép xuống dòng */
  clear: both;
}



.choose_emotion {
  position: relative;
  margin: 0 5px;
  display: none !important;
}

.emotions {
  position: absolute;
  top: 100%;
  display: flex;
  gap: 6px;
  background-color: #333;
  padding: 8px;
  border-radius: 16px;
}

.emotions i:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: color 0.3s ease, transform 0.2s ease;
}

.right {
  flex-direction: row-reverse;
}

// Login / Register

.wrap {
}

#login,
#register {
  width: 400px;
  height: 55%;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 16px;
  padding: 24px;

  opacity: 1;
  transition: opacity 0.5s ease;
}

#login button,
#login input,
#register button,
#register input {
  width: 100%;
  margin: 10px 0;
}

.options {
  margin-top: 10px;
}

.options a {
  color: #20b1f6;
}

#register {
  display: none;
}
